
.header-background{
    position: fixed;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    align-items: center;
    width: 100%;
    z-index: 9998;
}
.header{
    padding: 20px;
    display: flex;
    justify-content: end;
}
.menu-option{
    color: white;
    margin-right: 50px;
    font-size: clamp(0.8rem, 1vw, 1.2rem);
    font-weight: bold;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    transition: color 0.15s;
    transition: 
        transform 0.15s;
    transform-origin: top;
    will-change: transform;
}
.menu-option:hover{
    transform: scale(1.15) translateY(-2px);
    color: #8DE4B0;
}
button{
    margin: 0%;
    padding: 0%;
}
.cv{
    color: white;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0);
    border-color: #8DE4B0;
    border-style: solid;
    font-weight: bold;
    font-size: clamp(0.8rem, 1vw, 1.2rem);
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    transition: 
        transform 0.15s,
        background-color 0.15s;
    transform-origin: top;
    will-change: transform;
}
.cv:hover{
    transform: scale(1.15) translateY(-2px);
    background-color: rgba(255, 255, 255, 0.5);
}